body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:937px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:937px;
  display:flex;
}
#u6380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:64px;
  display:flex;
}
#u6381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u6382 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u6382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6383 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u6383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6384 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u6384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6385 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u6385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:846px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u6386 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:74px;
  width:1073px;
  height:846px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u6386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6387 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:184px;
  width:843px;
  height:342px;
}
#u6388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u6388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6388 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u6389 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:141px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6389 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:40px;
}
#u6390 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:378px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6390 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u6391 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:0px;
  width:139px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6391 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u6392 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:0px;
  width:128px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6392 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:104px;
}
#u6393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:57px;
  height:104px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6393 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:104px;
}
#u6394 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:141px;
  height:104px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u6394 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:104px;
}
#u6395 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:40px;
  width:378px;
  height:104px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6395 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:104px;
}
#u6396 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:40px;
  width:139px;
  height:104px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6396 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:104px;
}
#u6397 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:40px;
  width:128px;
  height:104px;
  display:flex;
  font-size:12px;
  color:#108DE9;
  line-height:18px;
}
#u6397 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:99px;
}
#u6398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:57px;
  height:99px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6398 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:99px;
}
#u6399 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:144px;
  width:141px;
  height:99px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u6399 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:99px;
}
#u6400 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:144px;
  width:378px;
  height:99px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6400 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:99px;
}
#u6401 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:144px;
  width:139px;
  height:99px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6401 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:99px;
}
#u6402 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:144px;
  width:128px;
  height:99px;
  display:flex;
  font-size:12px;
  color:#108DE9;
  line-height:18px;
}
#u6402 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:99px;
}
#u6403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:57px;
  height:99px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6403 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:99px;
}
#u6404 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:243px;
  width:141px;
  height:99px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u6404 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:99px;
}
#u6405 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:243px;
  width:378px;
  height:99px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6405 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:99px;
}
#u6406 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:243px;
  width:139px;
  height:99px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u6406 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:99px;
}
#u6407 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:243px;
  width:128px;
  height:99px;
  display:flex;
  font-size:12px;
  color:#108DE9;
  line-height:18px;
}
#u6407 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6408 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:128px;
  width:20px;
  height:20px;
  display:flex;
}
#u6408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6409 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:131px;
  width:56px;
  height:16px;
  display:flex;
}
#u6409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6410 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:122px;
  width:80px;
  height:32px;
  display:flex;
  font-size:14px;
}
#u6410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:693px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6411 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:122px;
  width:904px;
  height:693px;
  display:flex;
}
#u6411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6412 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:154px;
  width:744px;
  height:406px;
  display:flex;
}
#u6412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6413 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:183px;
  width:28px;
  height:16px;
  display:flex;
}
#u6413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6414 {
  border-width:0px;
  position:absolute;
  left:1888px;
  top:183px;
  width:12px;
  height:12px;
  display:flex;
}
#u6414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u6415 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:256px;
  width:76px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u6415 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u6416 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:256px;
  width:431px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u6416 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u6416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6417 {
  border-width:0px;
  position:absolute;
  left:1696px;
  top:482px;
  width:83px;
  height:37px;
  display:flex;
}
#u6417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u6418 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:482px;
  width:83px;
  height:37px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u6418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u6419 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:307px;
  width:76px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u6419 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u6420 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:307px;
  width:431px;
  height:157px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u6420 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u6420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6423 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:647px;
  width:300px;
  height:146px;
  display:flex;
}
#u6423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6424 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:667px;
  width:28px;
  height:16px;
  display:flex;
}
#u6424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6425 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:705px;
  width:144px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u6425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6426 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:668px;
  width:11px;
  height:11px;
  display:flex;
}
#u6426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u6427 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:753px;
  width:53px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u6427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6428 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:753px;
  width:53px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u6428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
