body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1479px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:936px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:936px;
  display:flex;
}
#u7091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1479px;
  height:64px;
  display:flex;
}
#u7092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u7093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u7094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u7095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u7096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1449px;
  height:837px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:1449px;
  height:837px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.635294117647059);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:112px;
  width:1449px;
  height:40px;
  display:flex;
  font-size:28px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:658px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.635294117647059);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:200px;
  width:1416px;
  height:658px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:200px;
  width:1416px;
  height:440px;
}
#u7101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
}
#u7108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
}
#u7110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:220px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:220px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:220px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:275px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:275px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:275px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:330px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:330px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:330px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:385px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:385px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:385px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:638px;
  width:1416px;
  height:220px;
}
#u7134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:0px;
  width:354px;
  height:55px;
  display:flex;
}
#u7137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:55px;
  width:354px;
  height:55px;
  display:flex;
}
#u7141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
}
#u7143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:110px;
  width:354px;
  height:55px;
  display:flex;
}
#u7145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7147 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u7147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7148 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u7148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:55px;
}
#u7149 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:165px;
  width:354px;
  height:55px;
  display:flex;
}
#u7149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u7150 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:760px;
  width:35px;
  height:33px;
  display:flex;
}
#u7150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7151 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:769px;
  width:79px;
  height:16px;
  display:flex;
}
#u7151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u7152 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:760px;
  width:35px;
  height:33px;
  display:flex;
}
#u7152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7153 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:769px;
  width:93px;
  height:16px;
  display:flex;
}
#u7153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
