body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1294px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1746px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1746px;
  display:flex;
}
#u4876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:64px;
  display:flex;
}
#u4877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u4879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u4880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u4881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:1294px;
  height:1641px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:245px;
  width:1228px;
  height:495px;
}
#u4884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:94px;
  width:373px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:639px;
  width:35px;
  height:33px;
  display:flex;
}
#u4922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:648px;
  width:70px;
  height:16px;
  display:flex;
}
#u4923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:695px;
  width:35px;
  height:33px;
  display:flex;
}
#u4925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:704px;
  width:104px;
  height:16px;
  display:flex;
}
#u4926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:795px;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:853px;
  width:876px;
  height:795px;
  display:flex;
}
#u4927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#00B0F0;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1110px;
  width:112px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#00B0F0;
}
#u4928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:204px;
  width:20px;
  height:20px;
  display:flex;
}
#u4929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:207px;
  width:56px;
  height:16px;
  display:flex;
}
#u4930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:788px;
  width:20px;
  height:20px;
  display:flex;
}
#u4931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:791px;
  width:56px;
  height:16px;
  display:flex;
}
#u4932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(245, 230, 208, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F9AB36;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:100px;
  width:140px;
  height:26px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F9AB36;
}
#u4934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:110px;
  width:6px;
  height:6px;
  display:flex;
}
#u4935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
