body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2385px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:182px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4736 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:1856px;
  width:373px;
  height:182px;
  display:flex;
}
#u4736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1843px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1843px;
  display:flex;
}
#u4737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:64px;
  display:flex;
}
#u4738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4739 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u4739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4740 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u4740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4741 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u4741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4742 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u4742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:1294px;
  height:1745px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4744 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:245px;
  width:1228px;
  height:495px;
}
#u4745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4746 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4747 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4748 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:0px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4750 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4751 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:55px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:110px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:165px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4762 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4763 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4764 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:220px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4766 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:275px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:330px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4776 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:385px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4778 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4779 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:55px;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:440px;
  width:307px;
  height:55px;
  display:flex;
  font-size:13px;
}
#u4780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:94px;
  width:373px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u4781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:639px;
  width:35px;
  height:33px;
  display:flex;
}
#u4783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:648px;
  width:70px;
  height:16px;
  display:flex;
}
#u4784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:695px;
  width:35px;
  height:33px;
  display:flex;
}
#u4786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:704px;
  width:104px;
  height:16px;
  display:flex;
}
#u4787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:795px;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:853px;
  width:876px;
  height:795px;
  display:flex;
}
#u4788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#00B0F0;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1110px;
  width:112px;
  height:31px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#00B0F0;
}
#u4789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:204px;
  width:20px;
  height:20px;
  display:flex;
}
#u4790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:207px;
  width:56px;
  height:16px;
  display:flex;
}
#u4791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:788px;
  width:20px;
  height:20px;
  display:flex;
}
#u4792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:791px;
  width:56px;
  height:16px;
  display:flex;
}
#u4793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1720px;
  width:133px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u4794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:1720px;
  width:133px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u4795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1878px;
  width:300px;
  height:146px;
  display:flex;
}
#u4796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1898px;
  width:56px;
  height:16px;
  display:flex;
}
#u4797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4798 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1936px;
  width:204px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:1899px;
  width:11px;
  height:11px;
  display:flex;
}
#u4799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1984px;
  width:53px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4801 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1984px;
  width:53px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u4801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:182px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4802 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1856px;
  width:373px;
  height:182px;
  display:flex;
}
#u4802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4803 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:1878px;
  width:300px;
  height:146px;
  display:flex;
}
#u4803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4804 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1898px;
  width:70px;
  height:16px;
  display:flex;
}
#u4804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4805 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1936px;
  width:252px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4806 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1899px;
  width:11px;
  height:11px;
  display:flex;
}
#u4806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u4807 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1984px;
  width:53px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4808 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:1984px;
  width:53px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u4808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4809 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1951px;
  width:204px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4810 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:114px;
  width:1073px;
  height:342px;
}
#u4811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u4811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:36px;
}
#u4812 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:978px;
  height:36px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u4812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:57px;
}
#u4813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:103px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:57px;
}
#u4814 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:36px;
  width:978px;
  height:57px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u4814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:54px;
}
#u4815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:103px;
  height:54px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:54px;
}
#u4816 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:93px;
  width:978px;
  height:54px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u4816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:103px;
  height:84px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:84px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:147px;
  width:978px;
  height:84px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:58px;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:231px;
  width:103px;
  height:58px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:58px;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:231px;
  width:978px;
  height:58px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u4820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:289px;
  width:103px;
  height:46px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:46px;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:289px;
  width:978px;
  height:46px;
  display:flex;
  text-align:left;
}
#u4822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
